{% extends "layouts/base.njk" %}
{% block content %}
  <article class="product grid" data-layout="halves">
    <picture class="product__art">
      <source media="(min-width:39rem)" srcset="{{ art_desktop }}" />
      <img src="{{ art }}" alt="" class="product__art--img" />
    </picture>
    <div class="product__content flow wrapper">
      <span class="product__content--category">{{ category }}</span>
      <h1 class="product__content--title">{{ title }}</h1>
      <p class="product__content--summary">{{ summary }}</p>
      <div class="product__content--price">
        <span class="product__content--price--actual">{{ price }}</span
        ><span class="product__content--price--before">{{ discount }}</span>
      </div>
      <button class="product__content--cta flex">
        <span class="ico-cart"></span> Add to Cart
      </button>
    </div>
  </article>
{% endblock %}
