{% extends "layouts/base.njk" %}
{% block content %}
  <div class="product grid" data-layout="halves">
    <picture class="product__art">
      <source media="(min-width:39rem)" srcset="{{ art_desktop }}" alt="" />
      <img src="{{ art }}" alt="" class="product__art--img" alt="" />
    </picture>
    <div class="product__content flow wrapper">
      <hgroup class="flow">
        <p class="product__content--category">{{ category }}</p>
        <h2 class="product__content--title">{{ title }}</h2>
      </hgroup>
      <p class="product__content--summary">{{ summary }}</p>
      <p class="product__content--price">
        <span class="product__content--price--actual">{{ price }}</span>
        <span class="visually-hidden">Price without discount</span>
        <s class="product__content--price--before"> {{ discount }} </s>
      </p>
      <button class="product__content--cta flex">
        <span class="ico-cart"></span> Add to Cart
      </button>
    </div>
  </div>
{% endblock %}
