:root {
  --gutter: var(--space-xs-m);
  --leading-standard: 1.5;
  --radius-s: 8px;
  --radius-m: 10px;
  --flow-space: 1rem;
  --wrapper-max-width: 50rem;
  --switcher-target-container-width: 35rem;
}
